<!doctype html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Favorite Products</title>
</head>
<body>
<header>
    <h1>Favorite Products</h1>
</header>
<main>
    <ul>
        <li data-th-each="product : ${favoriteProducts}">
            <strong>
                <a data-th-text="${product.title()}" data-th-href="@{/catalog/products/{productId}(productId=${product.id()})}"></a>
            </strong>
            <p data-th-text="${product.details()}"></p>
        </li>
    </ul>
</main>
<footer>

</footer>
</body>
</html>