<!doctype html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>View</title>
</head>
<body>
<main class="main">
    <div class="container">
        <h1 data-th-text="${product.getId()}">View product</h1>
        <a class="link" data-th-href="@{/catalog/products/get}">Product catalog</a>
        <h2 class="product-title" data-th-text="${product.getTitle()}"></h2>
        <p class="product-details" data-th-text="${product.getDetails()}"></p>
        <a class="edit-link" data-th-href="@{/catalog/products/{productId}/edit(productId=${product.getId()})}">Edit product</a>
    </div>
</main>
</body>
</html>